* {
    margin: 0;
    padding: 0;
}

.profilepage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

}

/* .right-end{
    display: flex;
    flex-direction: row;
} */
#rowAlign {
    width: 75vw;
    margin-top: 3%;
    margin-left: 3%;
}

.breaks_in {
    background-color: rgba(161, 154, 167, 0.5);
    margin-top: 0%;
}

.maps {
    width: 100%;
    height: 36%;

}

.Maps {
    border: none;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    text-align: center;
}

.location_point {
    font-size: 0.75rem;
    text-align: end;
    margin-right: 3%;
    color: rgb(70, 70, 78);
}

.Lat {
    color: rgba(161, 154, 167, 0.5);
    font-size: 0.75rem;

}

h3 {
    font-size: 0.75rem;
}